/* === FONTS === */
@font-face {
  font-family: NTS;
  src: url("./bin/fonts/NTS.TTF");
}

a, h1, h2, h3, h4, h5, h6, table, div {
    font-family: NTS, sans-serif;
}

.c834 {
    background-color: #834d18;
}

.smallText {
    font-size: 12px;
    font-weight: normal;
}

.header {
    font-size: 60px;
    text-align: center;
    background-color: #4d8318;
    font-weight: bold;
    margin-top: 0;
}

.header2 {
    font-size: 45px;
    text-align: center;
    background-color: yellowgreen;

    a {
        font-size: 24px;
    }
}

.linkTable {
    font-size: 32pt;
    border: solid 2px;
    background-color: #808080;
    width: 100%;
    height: 100px;
    
    td {
        border: dashed 4px;
        text-align: center;
        background-size: contain;

        a:link {
            color:#FFFFFF;
            text-shadow: 2px 2px 5px #333333;
        }
        a:visited {
            color:#FFFFFF;
            text-shadow: 2px 2px 5px #333333;
        }
        a:hover {
            color:#000dff;
            text-shadow: 2px 2px 100px #000dff;
        }
        a:active {
            color: #ad0000;
            text-shadow: 2px 2px 20px white;
        }
    };
}

.normalText {
    font-size: 24px;
    background-color: #808080;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px 5px #333333;

    a:link {
        color:#FFFFFF;
        text-shadow: 2px 2px 5px #333333;
    }
    a:visited {
        color:#FFFFFF;
        text-shadow: 2px 2px 5px #333333;
    }
    a:hover {
        color:#000dff;
        text-shadow: 2px 2px 100px #000dff;
    }
    a:active {
        color: #ad0000;
        text-shadow: 2px 2px 20px white;
    }
}
